In [4]:
import pandas as pd
import numpy as np
import os
import subprocess
import matplotlib as plt

In [6]:
print os.getcwd()
print os.listdir(os.getcwd())

/home/chris/Documents/bigforecast/FeatureEngineering/GDELT
['GDELT2-exploration.ipynb', 'get_GDELT.py', '.ipynb_checkpoints', '20170718201500.export.CSV', '.#get_GDELT.py', '20170718201500.export.CSV.zip', 'GDELT-Event_Codebook-V2.0.pdf']

In [13]:
df = pd.read_csv("20170718201500.export.CSV", sep = "\t", header = None)
#df.head()
df.head()

          0         1       2     3          4    5            6    7    8   \
0  674078723  20160718  201607  2016  2016.5425  NaN          NaN  NaN  NaN
1  674078724  20160718  201607  2016  2016.5425  AGR       FARMER  NaN  NaN
2  674078725  20160718  201607  2016  2016.5425  AUS    AUSTRALIA  AUS  NaN
3  674078726  20160718  201607  2016  2016.5425  AUS    AUSTRALIA  AUS  NaN
4  674078727  20160718  201607  2016  2016.5425  BUS  CORPORATION  NaN  NaN

    9                         ...                         51  \
0  NaN                        ...                          4
1  NaN                        ...                          2
2  NaN                        ...                          4
3  NaN                        ...                          4
4  NaN                        ...                          4

                                                  52  53    54     55  \
0                            Kremlin, Moskva, Russia  RS  RS48  25106
1                        South Dakota, United States  US  USSD    NaN
2                             Malabar, Kerala, India  IN  IN13  17699
3  Canberra, Australian Capital Territory, Australia  AS  AS01   4940
4                         Konkan, Maharashtra, India  IN  IN16  17777

         56        57        58              59  \
0  55.75220   37.6156  -2960561  20170718201500
1  44.28530  -99.4632        SD  20170718201500
2   9.96667   76.2333  -2093645  20170718201500
3 -35.28330  149.2170  -1563952  20170718201500
4  18.08330   73.4167  -2101383  20170718201500

                                                  60
0  http://www.thedailysheeple.com/hillary-clinton...
1  http://www.tristateneighbor.com/news/regional/...
2  http://www.businessinsider.com/malabar-2017-ph...
3  http://www.businessinsider.com/malabar-2017-ph...
4  http://www.thehindu.com/news/cities/mumbai/rai...

[5 rows x 61 columns]